# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
app/venv/

# Environment variables and secrets
.env
app/.env

# Frontend
frontend/node_modules/
frontend/dist/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
